<!DOCTYPE html>
<html>
    <head>
        <title>CeneoScraper</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
       <h3>Wykresy</h3>
            
    </body>
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="list.html">Wróć do poprzedniej strony</a></li>
      </ul>
       
</html>